div {
  margin: 1em;
}

div#buttons {
  background-color: rgb(165, 221, 221);
  padding: 1em;
  width: 30%;
}

h1 {
  font-size: 16pt;
  margin: 1em;
}

h3 {
  margin: 1em;
}

li {
  list-style: none;
  padding-bottom: 2em;
}

dt, dd {
  display: inline;
}

button, input {
  margin-right: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}